.header {
    height: 100vh;
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%),
        linear-gradient(0deg, #CF0063, #CF0063);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px;
}

.header__top__navbar-list {
    display: flex;
    gap: 30px;
}

.header__top__navbar-list-item {
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.header__main {
    display: flex;
    align-items: center;

}

.header__main-desc-h {
    font-family: var(--GR);
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    color: white;
}

.header__main-desc-p {
    font-family: var(--GR);
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    color: white;
    margin-top: 10px;
}

.header__main-desc-btn {
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    background: #FC0A7E;
    padding: 20px 40px;
    margin-top: 45px;
    transition: 0.3s;
}

.header__main-desc-btn:hover {
    background: white;
    color: #FC0A7E;
}

.header__main-img {
    margin-top: 60px;
}

.main__intro {
    background: #1B1B1B;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: var(--GR);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #A8A8A8;
}

.main__intro-desc {
    font-family: var(--GR);
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: white;
    margin-top: 30px;
    width: 607px;
    text-align: center;
}

.main__intro-title {
    margin-top: 100px;
}

.main__intro-img {
    margin-top: 55px;
}


.main__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__menu-card {
    display: flex;
    justify-content: space-between;
    gap: 200px;

}

.main__menu-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main__menu-card-info-name {
    font-family: var(--GR);
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    width: 302px;
    margin-top: 25px;
}

.main__menu-card-info-desc {
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
    width: 306px;
    margin-top: 22px;
}

.card1 {
    margin-top: 80px;
}

.card2 {
    margin-top: 160px;
}

.card3 {
    margin-top: 160px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__icon {
    display: flex;
    justify-content: space-between;
}

.main__icon-card-title {
    font-family: var(--GB);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 40px;
}

.main__icon-card-desc {
    width: 371px;
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
    width: 371px;
    text-align: center;
    margin-top: 17px;
}

.main__icon-card-img{
margin-top: 160px;
}